@model DentAppSys.Models.AppModel
@{
    ViewBag.Title = "Appointment";
}
<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<section class="Make-Info">
    <article class="Make-Info-text"><strong>Here you can show some information about this page !!!</strong></article>

</section>
<section class="User-Menu">

    <nav class="p-menu">
        <ul id="Menu" class="clearfix">
            <li>@Html.ActionLink("Dashboard", "Index", "Patient")</li>
            <li>@Html.ActionLink("Appointment", "Make", "Appointment")</li>
            <li>@Html.ActionLink("History", "", "")</li>
            <li>@Html.ActionLink("Documents", "Index", "Documents")</li>
        </ul>

    </nav>

</section>
<section>
    <div id="app_form">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true, "")    ;
        
              <div><strong> Get an Appointment</strong></div>



    <div>@Html.LabelFor(u => u.Date)</div>
    <div>
        @Html.TextBoxFor(u => u.Date, htmlAttributes: new { id = "DatePicker", @readonly = "true" })

    </div>

    <div>@Html.LabelFor(u => u.Description)</div>
    <div>@Html.TextAreaFor(u => u.Description)</div>

    <input type="submit" value="Submit" class="footer_btn" />




    }

</div>
</section>
<script type="text/javascript">
    
    $(function () {
        $("#DatePicker").datepicker({ dateFormat: 'yy-mm-dd',minDate:0,changeMonth:true });
    });

</script>

