@model DentAppSys.Models.RecentIncoming
@using System.Web.Helpers

@{
    ViewBag.Title = "Index";
}
@if (Session["UserEmail"] != null)
{
    <div align="right" style="width:auto;background:#728ea7;">
        @ViewBag.Email
        @Html.ActionLink("Logout", "Logout", "User")
    </div>
}
else
{
    // @Html.ActionLink("Login&Register", "RegAndLogin", "User")

}
<section class="Patient-Info">


    <div class="Info-title">
        Personal Informations
    </div>
    <div class="Info-Content">
        <div>
            <span>
                Firstname :
            </span>
            @ViewBag.FirstName
        </div>
        <div>
            <span>
                Lastname :
            </span>
            @ViewBag.LastName
        </div>
        <div>
            <span>
                Birthday :
            </span>
            @ViewBag.BirthDate.ToString("MMMM dd,yyyy")
        </div>
        <div>
            <span>
                Email :
            </span>
            @ViewBag.Email
        </div>
        <input type="submit" value="Edit Your Profile" class="" />
    </div>

</section>

<section class="Patient-Menu">

    <nav class="p-menu">
        <ul id="Menu" class="clearfix">
            <li>@Html.ActionLink("Appointment", "Make", "Appointment")</li>
            <li>@Html.ActionLink("History", "", "")</li>
            <li>@Html.ActionLink("Documents", "Index", "Documents")</li>
        </ul>

    </nav>

</section>

<section class="Patient-Dashboard">

    <div id="dashboard_left">
        <h1> Recent Appointments</h1>
        @{
            var MyRecentGrid = new WebGrid(Model.RecentAppts, selectionFieldName: "SelectedRow");
        }

        @MyRecentGrid.GetHtml(
    displayHeader: true,

    mode: WebGridPagerModes.FirstLast,

columns: MyRecentGrid.Columns
(

    MyRecentGrid.Column("Appointment No", "Appointment No", format: @<text>@item.AppNo</text>),
    MyRecentGrid.Column("Patient No", "Patient No", format: @<text>@item.PatientNo</text>) ,
    MyRecentGrid.Column("Description", "Description", format: @<text>@item.Description</text>),
    MyRecentGrid.Column("Date", "Date", format: @<text>@item.Date.ToString("yyyy/MM/dd")</text>),
    MyRecentGrid.Column("Status", "Status", format: @<text>@item.Status</text>)

             ))
    </div>

    <div id="dashboard_right">
        <br />
        <h1>Incoming Appointments</h1>
        @{
            var MyIncomingGrid = new WebGrid(Model.IncomingAppts, selectionFieldName: "SelectedRow");
        }

        @MyIncomingGrid.GetHtml(
    displayHeader: true,

    mode: WebGridPagerModes.FirstLast,

columns: MyIncomingGrid.Columns
(

              MyIncomingGrid.Column("Appointment No", "Appointment No", format: @<text>@item.AppNo</text>),
              MyIncomingGrid.Column("Patient No", "Patient No", format: @<text>@item.PatientNo</text>) ,
              MyIncomingGrid.Column("Description", "Description", format: @<text>@item.Description</text>),
              MyIncomingGrid.Column("Date", "Date", format: @<text>@item.Date.ToString("yyyy/MM/dd")</text>),
              MyIncomingGrid.Column("Status", "Status", format: @<text>@item.Status</text>)

                                                    ))


    </div>
</section>
