@model DentAppSys.Models.RegisterModel

@{
    ViewBag.Title = "Index";
}



<div align="right" style="width:auto;background:#728ea7;">
    @if (Session["UserEmail"] != null)
    {<strong>@Html.Encode(User.Identity.Name)</strong>
        @Html.ActionLink("Logout", "Logout", "User")
        
    }
    else
    {
        @Html.ActionLink("Login&Register", "RegAndLogin", "User")

    }
</div>
<section class="Patient-Info">

        <div class="Info-title">
            Personal Informations
        </div>
        <div class="Info-Content">
            <div>
                <span>
                    Firstname :
                </span>
                @Model.Firstname
            </div>
            <div>
                <span>
                    Lastname :
                </span>
                @Model.Lastname
            </div>
            <div>
                <span>
                    Birthday :
                </span>
                @Model.Birthday.ToString("MMMM dd,yyyy")
            </div>
            <div>
                <span>
                    Email :
                </span>
                @Model.Email
            </div>
        </div>
</section>

<section class="Patient-Menu">

    <nav class="p-menu">
        <ul id="Menu" class="clearfix">
            <li>@Html.ActionLink("Appointment", "Make", "Appointment")</li>
            <li>@Html.ActionLink("History", "", "")</li>
            <li>@Html.ActionLink("Documents", "", "")</li>
        </ul>

    </nav>

</section>

<section class="Patient-Dashboard">



</section>
