@model IEnumerable<DentAppSys.Models.AppModel>
@using System.Web.Helpers

@{
    ViewBag.Title = "Index";
}
@if (Session["UserEmail"] != null)
{
    <div align="right" style="width:auto;background:#728ea7;">
        @ViewBag.Email
        @Html.ActionLink("Logout", "Logout", "User")
    </div>
}
else
{
    // @Html.ActionLink("Login&Register", "RegAndLogin", "User")

}
<section class="Patient-Info">


     <div class="Info-title">
         Personal Informations
     </div>
    <div class="Info-Content">
         <div>
             <span>
                 Firstname :
             </span>
             @ViewBag.FirstName
         </div>
         <div>
             <span>
                 Lastname :
             </span>
             @ViewBag.LastName
         </div>
         <div>
             <span>
                 Birthday :
             </span>
             @ViewBag.BirthDate.ToString("MMMM dd,yyyy")
         </div>
         <div>
             <span>
                 Email :
             </span>
             @ViewBag.Email
         </div>
        <input type="submit" value="Edit Profile" class="footer_btn" />
     </div>

    </section>

    <section class="User-Menu">

        <nav class="p-menu">
            <ul id="Menu" class="clearfix">
                <li>@Html.ActionLink("Appointment", "Make", "Appointment")</li>
                <li>@Html.ActionLink("History", "", "")</li>
                <li>@Html.ActionLink("Documents", "Index", "Documents")</li>
            </ul>

        </nav>

    </section>

    <section class="Patient-Dashboard">

        <div id="dashboard_left">
            <h1> Recent Appointments</h1>
   @{
    var Mygrid = new WebGrid(Model, selectionFieldName: "SelectedRow");
}

@Mygrid.GetHtml(
    displayHeader: true,
    
    mode: WebGridPagerModes.FirstLast,

columns: Mygrid.Columns
(

    Mygrid.Column("Appointment No", "Appointment No",format: @<text>@item.AppNo</text>),
    Mygrid.Column("Patient No", "Patient No", format: @<text>@item.PatientNo</text>) ,
    Mygrid.Column("Description", "Description", format: @<text>@item.Description</text>),
    Mygrid.Column("Date", "Date", format: @<text>@item.Date.ToString("yyyy/MM/dd")</text>),
    Mygrid.Column("Status", "Status", format: @<text>@item.Status</text>)
     
))
</div>

<div id="dashboard_right">
<br/>
<h1>Incoming Appointments</h1>

   
</div>
</section>
