@model DentAppSys.Models.GetDoc
@{
    ViewBag.Title = "Index";
}

<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<section class="Doc-Info">
    <article class="Doc-Info-text"><strong>Here you can show some information about this page !!!</strong></article>

</section>
<section class="User-Menu">

    <nav class="p-menu">
        <ul id="Menu" class="clearfix">
            <li>@Html.ActionLink("Appointment", "Make", "Appointment")</li>
            <li>@Html.ActionLink("History", "", "")</li>
            <li>@Html.ActionLink("Documents", "Index", "Documents")</li>
        </ul>

    </nav>

</section>

<section class="Doc-Op">
    <article>
        <h1>Search Your Appointment Files Here !</h1>
    </article>
    <span>
        You can see all the files here =>
    </span>
    @Html.ActionLink("Show All", "Resultlist", null, new { @class = "Act-btn" })

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true, "");

        <div>

            <fieldset>

                <legend>Search By Date or Appointment ID</legend>
                <div>
                    @{ Html.EnableClientValidation(false); }
                    @Html.LabelFor(u => u.AppID)
                    @Html.TextBoxFor(u => u.AppID)
                    @Html.ValidationMessageFor(u => u.AppID)
                </div>
                <div>
                    @{ Html.EnableClientValidation(false); }
                    @Html.LabelFor(u => u.StartDate)
                    @Html.TextBoxFor(u => u.StartDate, htmlAttributes: new { id = "from" })
                    @Html.ValidationMessageFor(u => u.StartDate)
                </div>
                <div>
                    @{ Html.EnableClientValidation(false); }
                    @Html.LabelFor(u => u.EndDate)
                    @Html.TextBoxFor(u => u.EndDate, htmlAttributes: new { id = "to" })
                    @Html.ValidationMessageFor(u => u.EndDate)
                </div>
                <input type="submit" value="Search" class="footer_btn" />
            </fieldset>

        </div>
    }
</section>

<script type="text/javascript">
    $(function () {
        $("#from").datepicker({
            defaultDate: "-1w",
            changeMonth: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#to").datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });
    });
</script>